.portfolio__container {
  width: 750px;
}

.portfolio__card {
    background-color: var(--container-color);
    border: 1px solid rgba(0, 0, 0, 0.1);
    padding: 1.5rem 2rem;
    border-radius: 1.5rem;
    margin-bottom: var(--mb-3);
}

.portfolio__img {
    border-radius: 0.5rem;
    margin-bottom: var(--mb-1);
}

.portfolio__name {
    font-size: var(--normal-font--size);
    font-weight: var(--font-medium);
    margin-bottom: var(--mb-0-25);
}

/* Swiper Class */
.swiper-pagination-bullet {
    background-color: var(--text-color) !important;
}

.swiper-pagination-bullet-active {
    background-color: var(--title-color) !important;
}

/*=============== BREAKPOINTS ===============*/
/* For large devices */
@media screen and (max-width: 992px) {
    .portfolio__container {
        width: initial;
    }
}

/* For medium devices */
@media screen and (max-width: 768px) {
}

@media screen and (max-width: 576px) {
}

/* For small devices */
@media screen and (max-width: 350px) {
}

